.pagination_wrapper {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.pagination_wrapper span {
    cursor: pointer;
}

.pagination_number {
    width: 1rem;
}

.page_selected {
    font-weight: 700;
    color: red;
}
