.box1 {
    width: 100px;
    height: 100px;
    background-color: skyblue;
}

.box1:hover {
    width: 110px;
    height: 110px;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: yellow;
}

.box2:hover {
    background-color: red;
}
