* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.wrapper-header {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title {
  color: #55b2e4;
  font-size: 13px;
  font-weight: 700;
}

.subtitle {
  font-size: 8px;
  padding-left: 5px;
}

.divideLine {
  width: 100%;
  border-top: 1px solid gray;
}

.game-container {
  width: 222px;
  height: 168px;
  border: 1px solid gray;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 20px;
  background-color: #f6f6f6;
}

.game-title {
  font-size: 15px;
  font-weight: 900;
}

.game-subtitle {
  font-size: 11px;
  color: gray;
}

.word-result {
  font-size: 11px;
  font-weight: 700;
}

.word-text {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.textbox {
  width: 130px;
  height: 24px;
  border-radius: 5px;
  outline: none;
  padding: 10px;
}

.search {
  font-size: 11px;
  font-weight: 700;
  width: 38px;
  height: 24px;
  border-radius: 5px;
  background-color: white;
}

/* lotto area */
.lotto-wrapper {
  display: flex;
  width: 130px;
  height: 21px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffe400;
  padding: 4px 8px;
  border-radius: 16px;
  border: 1px solid black;
  font-size: 10px;
  font-weight: 700;
  align-items: center;
}

.lotto-btn {
  width: 62px;
  height: 24px;
  font-size: 11px;
  font-weight: 700;
  background-color: white;
  border-radius: 5px;
}
