* {
  box-sizing: border-box;
  margin: 0px;
}

.background {
  width: 1024px;
  height: 600px;
  background-image: url("../images/background.png");
  padding: 20px 0px 0px 20px;
}

.outerbox {
  width: 800px;
  height: 544px;
  background-image: url("../images/outerbox.png");
}

.wrapper {
  display: flex;
  flex-direction: row;
  padding: 32px 0px 0px 32px;
}

.wrapper-left {
  width: 208px;
  height: 472px;

  display: flex;
  flex-direction: column;
}

.wrapper-left-header {
  width: 100%;
  height: 30px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.today {
  font-size: 9px;
}

.wrapper-left-body {
  width: 100%;
  height: 100%;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 30px;
}

.left-body-header {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.body-header-gray {
  width: 148px;
  height: 133px;
  background-color: gray;
}

.body-header-line {
  border-top: 1px dotted black;
  margin: 12px 0px;
}

.left-body-profile {
  width: 100%;
  font-size: 9px;

  display: flex;
  flex-direction: column;
}

.left-body-profile div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin-bottom: 5px;
}

.left-body-profile div {
  color: gray;
}

.left-body-footer {
  width: 100%;
  height: 100%;
  font-size: 9px;
  color: gray;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wrapper-feel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feel-title {
  margin: 10px 0px;
}

.feel-select {
  width: 100%;
  font-size: 9px;
  color: gray;
  border: 1px solid gray;
  outline: none;
}

.wrapper-right {
  width: 524px;
  height: 472px;
  padding-left: 5px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.wrapper-right-header {
  width: 510px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 14px;
}

.right-header-title,
.right-header-setting {
  color: #55b2e4;
  font-size: 9px;
}

.right-header-title {
  font-size: 16px;
}

.wrapper-right-body {
  width: 510px;
  height: 445px;
  border: 1px solid gray;
  border-radius: 15px;
  background-color: white;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.navigation {
  width: 62px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 774px;
  top: 110px;
}

.navigation-item {
  width: 60px;
  height: 30px;
  background-color: #298eb5;
  border: 1px solid black;
  color: white;
  border-radius: 0px 10px 10px 0px;
  font-size: 10px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

#menuHome {
  color: black;
  background-color: white;
}
